#banner {
	width: 100%
}

.principal {
	background: #CCCCCC; 
	padding: 30px
}

.titulo-principal {
	padding-left: 20px
}

.titulo-centralizado {
	text-align: center
}

p {
	text-align: center
}

#missao {
	font-size: 20px
}

i strong {
	color: #FF0000
}

.beneficions {
	padding: 20px
}

.itens {
	font-style: italic
}

ul {
	display: inline-block;
	vertical-align: top;
	width: 20%;
	margin-right: 20%;
}

.imagembeneficios {
	width: 50%
}

footer {
	text-align: center;
	background: url(bg.jpg);
	padding: 40px 0;
}

.copyright {
	color: #FFFFFF;
	font-size: 13px;
	margin-top: 20px;
}